.container {
  padding: 0 2rem;
  font-family: 'Poppins', sans-serif;
  margin: auto;
  background-color: white;
  max-width: 100%;
}

.header {
  text-align: center;
  padding: 2rem 0;
  background-color: white;
  width: 100%;
}

.navbar {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navLink {
  margin: 0 1rem;
  color: grey;
  text-decoration: none;
  font-weight: bold;
}

.navLink:hover {
  text-decoration: underline;
}

.intro {
  text-align: center;
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}

.intro h2 {
  font-size: 2rem;
  color: #003366;
}

.intro p {
  font-size: 1.2rem;
  color: #333333;
}

.main {
  padding: 2rem 0;
  width: 100%;
  box-sizing: border-box;
}

.blogSection {
  margin: 2rem 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.card {
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  width: calc(100% - 2rem);
  text-align: left;
  background: #ffffff;
  border: 1px solid #cce0ff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card h3 {
  margin: 1rem 0;
  font-size: 1.5rem;
  color: #003366;
}

.card p {
  font-size: 1rem;
  color: #333333;
}

.readMore {
  display: block;
  margin-top: 1rem;
  text-align: right;
  color: #0070f3;
  text-decoration: none;
}

.insuranceSection {
  padding: 2rem;
  background-color: #cceeff;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.insuranceSection h2 {
  font-size: 2rem;
  color: #003366;
}

.insuranceSection p {
  font-size: 1.2rem;
  color: #333333;
}

.link {
  display: inline-block;
  margin-top: 1rem;
  color: #0070f3;
  text-decoration: none;
  font-weight: bold;
}

.footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #b3e0ff;
  border-top: 1px solid #cce0ff;
  width: 100%;
  box-sizing: border-box;
}

.footer p {
  margin: 0.5rem 0;
  color: #00509e;
}

.footer a {
  color: #0070f3;
  text-decoration: none;
  margin: 0 0.5rem;
}

/* Media Queries for Responsive Design */
@media (min-width: 600px) {
  .card {
    width: 45%;
  }
}

@media (min-width: 768px) {
  .card {
    width: 30%;
  }
}

@media (min-width: 1024px) {
  .card {
    width: 22%;
  }
}
