.container {
  padding: 0 2rem;
  font-family: 'Poppins', sans-serif;
  margin: auto;
  background-color: white;
  max-width: 1200px;
}

.header {
  text-align: center;
  padding: 2rem 0;
  background-color: white;
  width: 100%;
}

.navbar {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navLink {
  margin: 0 1rem;
  color: grey;
  text-decoration: none;
  font-weight: bold;
}

.navLink:hover {
  text-decoration: underline;
}

.description {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #00509e;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  width: 100%;
  box-sizing: border-box;
}

.content {
  flex: 3;
  margin-right: 2rem;
}

.featuredSection,
.blogSection {
  margin-bottom: 2rem;
}

.featuredSection h2,
.blogSection h2 {
  font-size: 2rem;
  color: #003366;
  margin-bottom: 1rem;
}

.featuredCard {
  display: flex;
  align-items: center;
  border: 1px solid #cce0ff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background: #ffffff;
}

.featuredContent {
  margin-left: 1rem;
}

.featuredContent h3 {
  font-size: 1.5rem;
  color: #003366;
}

.featuredContent p {
  font-size: 1rem;
  color: #333333;
}

.featuredContent .readMore {
  display: block;
  margin-top: 1rem;
  text-align: right;
  color: #0070f3;
  text-decoration: none;
}

.card {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #cce0ff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

.card h3 {
  font-size: 1.5rem;
  color: #003366;
}

.card p {
  font-size: 1rem;
  color: #333333;
}

.card .readMore {
  display: block;
  margin-top: 1rem;
  text-align: right;
  color: #0070f3;
  text-decoration: none;
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.aboutSection,
.insuranceSection {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #cce0ff;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.aboutSection h2,
.insuranceSection h2 {
  font-size: 1.5rem;
  color: #003366;
}

.aboutSection p,
.insuranceSection p {
  font-size: 1rem;
  color: #333333;
}

.link {
  display: inline-block;
  margin-top: 1rem;
  color: #0070f3;
  text-decoration: none;
  font-weight: bold;
}

.footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #b3e0ff;
  border-top: 1px solid #cce0ff;
  width: 100%;
  box-sizing: border-box;
}

.footer p {
  margin: 0.5rem 0;
  color: #00509e;
}

.footer a {
  color: #0070f3;
  text-decoration: none;
  margin: 0 0.5rem;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .content {
    margin-right: 0;
  }

  .featuredCard {
    flex-direction: column;
    align-items: flex-start;
  }

  .featuredContent {
    margin-left: 0;
    margin-top: 1rem;
  }
}
